@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Hotel pod gwiazdami<br />
    Gwieździsta 13, Podebłocie 13-193<br />
    <abbr title="Phone">Telefon:</abbr>
    787767987
</address>

<address>
    <strong>Recepcja</strong>   <a href="mailto:Support@example.com">Recepcja@mail.com</a><br />
    <strong>Menadżer</strong> <a href="mailto:Marketing@example.com">Menadżer@mail.com</a>
</address>